<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
	<display-name>eChild Worker Application</display-name>

	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter>
		<filter-name>SiteSessionFilter</filter-name>
		<filter-class>nc.dhhs.nccss.acts.ecwa.web.servlets.filters.SiteSessionFilter</filter-class>
		<init-param>
			<param-name>avoid-urls</param-name>
			<param-value>index.jsp, error.htm, 403.htm, 404.htm, 500.htm</param-value>
		</init-param>
	</filter>

	<filter>
		<filter-name>ResponseOverrideFilter</filter-name>
		<filter-class>org.displaytag.filter.ResponseOverrideFilter</filter-class>
	</filter>


	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>SiteSessionFilter</filter-name>
		<url-pattern>/cswp/**</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>ResponseOverrideFilter</filter-name>
		<url-pattern>*.htm</url-pattern>
	</filter-mapping>


	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/ecwa-servlet.xml,/WEB-INF/config/ecwa-service.xml,/WEB-INF/config/ecwa-security.xml,/WEB-INF/config/ecwa-datasource.xml, /WEB-INF/config/ecwa-mail.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</listener-class>
	</listener>

	<listener>
		<listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
	</listener>


	<servlet>
		<servlet-name>ecwa</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextClass</param-name>
			<param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
		</init-param>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>nc.dhhs.nccss.acts.ecwa.web.reports.config.ReportWebConfiguration</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>ecwa</servlet-name>
		<url-pattern>*.htm</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ecwa</servlet-name>
		<url-pattern>*.json</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ecwa</servlet-name>
		<url-pattern>/reports</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<error-page>
		<error-code>404</error-code>
		<location>/404.htm</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/403.htm</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/500.htm</location>
	</error-page>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>redirect.jsp</welcome-file>
	</welcome-file-list>

	<resource-ref>
		<res-ref-name>jdbc/ecwaDS</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>

</web-app>
